@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed);

$primary-font: "Lato", Helvetica, Arial, Sans-Serif;
$condensed-font: "Cabin Condensed", Helvetica, Arial, Sans-Serif;

$primary-color: #ff4500;
$black: #333;
$mid-gray: #9f9f9f;
$light-gray: #bbb;
$body-bg: #f6f3f3;

html, body {
  background-color: $body-bg;
  font-family: $primary-font;
}

a {
  color: $primary-color;
}

a:hover {
  color: $black;
}

/* Header */
header {
  padding: 20px 0;
  background-color: white;
  -webkit-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 6px 0;
  font-size: 0.8em;
  text-transform: uppercase;
}

.top-bar a {
  margin-right: 20px;
  color: white;
}

.fadeout {
  white-space: nowrap;
  overflow: hidden;
}

.fadeout:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;

  background-image: -webkit-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -o-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: linear-gradient(to left, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
}

.top-right {
  position: relative;
  right: 160px;
  width: 100px;
  font-weight: bold;
}

.top-right .glyphicon {
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 6px;
}

.btn-top {
  font-family: $primary-font;
  font-weight: 700;
  text-transform: none;
  border: 1px $light-gray solid;
  font-size: 0.9em;
  padding: 1em;
  color: $black;
  display: inline;
}

.btn-user {
  float: right;
}

.navbar-toggle {
  border: 1px red solid;
  color: $mid-gray;
}

.btn-top:hover {
  border: 1px solid $primary-color;
  background-color: white;
  color: $primary-color;
}

.sort {
  margin-left: 30px !important;
  margin-right: -20px;
}

.btn-sort {
  border-color: white;
}

.btn-selected {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.btn-active {
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
}

.btn-active:hover {
  background-color: $black;
  color: white;
  border: 1px solid $black;
}

.btn .caret {
  margin-left: 7px;
  border-top: 7px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.btn-add {
  overflow: hidden;
  padding: 9px 10px 5px 10px;
  color: white;
  background-color: $black;
  border-color: $black;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.btn-add .glyphicon {
  padding: 0;
  font-size: 2em;
}

.btn-add:hover {
  border-color: $primary-color;
  background-color: $primary-color;
  color: white;

}

/* Link Boxes */

.linkbox {
  margin: 10px 0;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.rating {
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
  padding-bottom: 100px;
  margin-bottom: -100px;
}

.vote {
  color: $mid-gray;
}

.rating:hover .vote {
  color: $primary-color;
}

.rating:hover .voted {
  color: $light-gray;
}

.voted {
  color: $black;
}

.rating-count {
  margin: -15px 0;
  font-size: 1.2em;

}

.border-sides {
  border-left: 1px $light-gray dotted;
  border-right: 1px $light-gray dotted;
}

.link-data {
  margin-top: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.title a {
  color: $black;
}

.link-metadata {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.time {
  cursor: pointer;
}

.category-label {
  font-size: 0.9em;
  margin-left: 5px;
  color: $mid-gray;
}

.category-label a {
  color: $mid-gray;
}

.comment-count {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 5px;
  margin-bottom: -100px;

  cursor: pointer;
}

.comment-count:hover .glyphicon {
  color: $primary-color;
}

.comment-count-text {
  margin: -10px 0;
}

/* Modals */

.modal-backdrop {
  bottom: 0;
}

.login-link {
  float: right;
}
