@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed);

$primary-font: "Lato", Helvetica, Arial, Sans-Serif;
$condensed-font: "Cabin Condensed", Helvetica, Arial, Sans-Serif;

$primary-color: #ff4500;
$black: #333;
$mid-gray: #9f9f9f;
$light-gray: #bbb;
$body-bg: #f6f3f3;

html, body {
  background-color: $body-bg;
  font-family: $primary-font;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: $primary-color;
}

::selection {
  color: white;
  background: $primary-color;
}

.no-overflow-x{
  overflow-x: hidden;
}

.pointer{
  cursor: pointer;
}

a {
  color: $primary-color;
}

a:hover {
  color: $black;
}

/* Header */
header {
  padding: 20px 0;
  background-color: white;
  -webkit-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 6px 0;
  font-size: 0.8em;
  text-transform: uppercase;
}

.top-bar a {
  margin-right: 20px;
  color: white;
}

.fadeout {
  white-space: nowrap;
  overflow: hidden;
}

.fadeout:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;

  background-image: -webkit-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: -o-linear-gradient(right, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
  background-image: linear-gradient(to left, rgba(255, 69, 0, 1) 55%, rgba(255, 69, 0, 0) 100%);
}

.top-right {
  position: relative;
  right: 160px;
  width: 100px;
  font-weight: bold;
}

.top-right .glyphicon {
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 6px;
}

.btn-top {
  font-family: $primary-font;
  font-weight: 700;
  text-transform: none;
  border: 1px $primary-color solid;
  font-size: 0.9em;
  padding: 1em;
  color: $black;
  display: inline;
}

.dropdown-toggle{
  border-color: $primary-color;
  color: $black;
}

.btn-user {
  float: right;
}

.navbar-toggle {
  border: 1px red solid;
  color: $mid-gray;
}

.btn-top:hover {
  border: 1px solid $primary-color;
  background-color: white;
  color: $primary-color;
}

.sort {
  margin-left: 15px !important;
  margin-right: -10px !important;
}

.btn-sort {
  border-color: white;
}

.btn-selected {
  border: 1px solid $primary-color;
  color: $black;
}

.btn-active {
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
}

.btn-active:hover {
  background-color: $black;
  color: white;
  border: 1px solid $black;
}

.btn .caret {
  margin-left: 7px;
  border-top: 7px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.btn-add, .user-icon {
  overflow: hidden;
  padding: 9px 10px 5px 10px;
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 0;
}

.btn-add{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.user-icon{
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.btn-add .glyphicon, .user-icon .glyphicon {
  font-size: 2em;
}

.btn-add:hover, .user-icon:hover {
  border-color: $black;
  background-color: $black;
  color: white;

}

/* Link Boxes */

.linkbox, .comment-wrapper, .single-comment {
  margin: 10px 0;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.rating {
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border-left: 2px white solid;
}

.rating:hover{
  border-color: $primary-color;
}
.rating:hover .glyphicon{
  color: $primary-color;
}

.upvoted {
  border-left: 2px $primary-color solid;
}

.upvoted .glyphicon{
  color: $primary-color;
}

.upvoted:hover{
  border-color: $light-gray;
}

.upvoted:hover .glyphicon{
  color: $light-gray;
}


.rating .glyphicon, .comment-count .glyphicon{
  margin-top: 10px;
}

.rating-count {
  margin: -15px 0;
  font-size: 1.2em;

}

.border-sides {
  border-left: 1px $light-gray dotted;
  border-right: 1px $light-gray dotted;
}

.border-left {
  border-left: 1px $light-gray dotted;
}

.link-data {
  margin-top: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.title a {
  color: $black;
}

.link-metadata {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.time {
  cursor: pointer;
}

.category-label {
  font-size: 0.9em;
  margin-left: 5px;
  color: $mid-gray;
}

.category-label a {
  color: $mid-gray;
}

.comment-count {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 5px;
  margin-bottom: -100px;
  cursor: pointer;
}

.comment-count a{
  color: $black;
}

.comment-count a:hover{
  text-decoration: none;
}

.comment-count:hover .glyphicon {
  color: $primary-color;
}

.comment-count-text {
  margin: -10px 0;
}

/* Modals */

.modal-backdrop {
  bottom: 0;
}

.login-link {
  float: right;
}

.login-toggle{
  float:right;
}

.login-toggle label{
  background-color: $black;
  border: none;
  border-radius: 0;
}

.modal-header{
  background-color: $primary-color;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.modal-header .btn{
  background-color: $primary-color;
  color: white;
  border: 3px white solid;
  font-size: 0.7em;
  margin-top: 16px;
}

.modal-header .btn:hover{
  background-color: $black;
}

.modal-body{
  margin-top: 10px;
}


.modal-footer{
  border: none;
  background-color: $body-bg;
}
.modal-footer .btn{
  margin-top: 0;
}


/* Link Page */

.link-body{
  margin-bottom: 10px;
  max-width: 600px;
}

.link-body{
  font-family: $primary-font;
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 1.15em;
  background-color: inherit;
  border: none;
}

.comment-wrapper{
  padding-top: 20px;
}

.comment-header{
  font-size: 1.2em;
  font-weight: bold;
}

.comment-form{
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 700px;
}

.comment-form div{
  text-align: right;
}

.comment-list{
  padding-bottom: 20px;
  font-size: 1.15em;
  max-width: 700px;
}

.form-control{
  padding: 6px 0;
  font-size: 1.1em;
  border: none;
  border-radius: 0;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  box-shadow: none;
};

.form-control:focus{
  box-shadow: none;
  border-color: $primary-color;
}

.form-button{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $black;
  color: white;
  border-radius: 0;
}

.form-button:hover{
  background-color: $primary-color;
  color: white;
}

.form-button:focus{
  color: white;
}

textarea.form-control{
  resize: none;
  box-sizing: border-box;
  max-height: 500px;
  min-height: 77px;
  overflow-x: hidden; /* for Firefox (issue #5) */
}

.single-comment{
  padding: 10px 0;
}

.comment-textarea{
  border-color: $black;
}

.comment-author{
  font-size: 1.2em;
  font-weight: bold;
}

.comment-metadata{
  margin-left: 10px;
  font-size: 0.9em;
}

.comment-body{
  font-size: 1.15em;
  max-width: 700px;
}

/* Alerts */

.main-alert{
  margin: 0;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $primary-color;
  color: white;
  border-radius: 0;
  float: left;
}

.alert-warning{
  background-color: $primary-color;
  color: white;
  font-weight: normal;
}

.alert-hidden{
  visibility: hidden;
}

.alert-success{
  background-color: #53B100;
}

.new-comment.ng-enter {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  position: relative;
  opacity: 0;
  bottom: 150px;
}
.new-comment.ng-enter-active {
  opacity: 1;
  bottom: 0;
}

.single-comment.ng-leave {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  position: relative;
  left: 0;
  opacity: 1;
}
.single-comment.ng-leave-active {
  left: 150px;
  opacity: 0;
}

/* View Anims */
/*
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}
[ui-view].ng-enter{
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}
[ui-view].ng-leave{
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;

    -webkit-transform: scale3d(0.8, 1, 1);
       -moz-transform: scale3d(0.8, 1, 1);
            transform: scale3d(0.8, 1, 1);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
     -moz-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
}

*/
