<div class="hidden-xs">
  <div class="btn-group sort" role="group" aria-label="...">
    <button class="btn btn-default btn-top btn-sort" ng-class="{'btn-selected': data.sortOrder == 'rated'}"
            ui-sref="main({category: data.category.slug, sort: 'rated', reload: true})" type="button">
      Most Rated
    </button>
  </div>
  <div class="btn-group sort" role="group" aria-label="...">
    <button class="btn btn-default btn-top btn-sort" ng-class="{'btn-selected': data.sortOrder == 'recent'}"
            ui-sref="main({category: data.category.slug, sort: 'recent', reload: true})" type="button">
      Most Recent
    </button>
  </div>
  <div class="btn-group sort" role="group" aria-label="...">
    <button ng-show="data.user" class="btn btn-default btn-top btn-sort"
            ng-class="{'btn-selected': data.sortOrder == 'myRated'}"
            ui-sref="main({category: data.category.slug, sort: 'myRated', reload: true})" type="button">
      My Rated
    </button>
  </div>
</div>

<div class="visible-xs">
  <div class="btn-group sort" role="group" aria-label="...">
    <button class="btn btn-default btn-top dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">
      {{data.sortOrders[data.sortOrder] || 'Most Rated'}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ui-sref="main({category: data.category.slug, sort: 'rated', reload: true})">Most Rated</a></li>
      <li><a ui-sref="main({category: data.category.slug, sort: 'recent', reload: true})">Most Recent</a></li>
      <li><a ui-sref="main({category: data.category.slug, sort: 'myRated', reload: true})">My Rated</a></li>
    </ul>
  </div>
</div>
