<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <linkbox ng-init="link = data.link"></linkbox>

      <div ng-show="data.user" class="row comment-wrapper">

        <div class="col-xs-12">
          <span class="comment-header">Post Your Comment</span>


          <div comment-form class="comment-form" >
            <form name="addComment" novalidate>
        <textarea required rows="3" name="body" ng-model="body"
                  class="form-control js-auto-size comment-textarea"></textarea>

              <div>
                <button class="btn form-button" ng-disabled="addComment.$invalid" ng-click="addComment()">
                  Submit
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>


      <div single-comment class="row single-comment" ng-repeat="comment in data.comments" id="{{comment.id}}">
        <div class="col-xs-12">
          <a class="comment-author" ui-sref="user({username: comment.user})">{{comment.user}}</a>
          <span class="comment-metadata">
            <span class="time" data-toggle="tooltip" data-placement="right"
                  title="{{comment.time * 1000 | date:'EEE, dd MMM \'at\' h:mma'}}">
                    {{comment.time * 1000 | timeago}}
            </span>
            <span ng-show="data.user.admin"> | <a href="#" ng-click="deleteComment(comment.id)">Delete</a></span>
          </span>
          <div class="comment-body">{{comment.body}}</div>
        </div>
      </div>
    </div>

    <!--

    <div class="col-md-4">
      <div class="row comment-wrapper">
        Hello yes this is sidebar
      </div>
    </div>

    -->

  </div>
</div>
