<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <linkbox ng-init="link = data.link"></linkbox>

      <div class="row comment-wrapper">

        <div class="col-xs-12">
          <span class="comment-header">Post Your Comment</span>

          <div comment-form class="comment-form" ng-show="data.user">
            <form name="addComment" novalidate>
        <textarea required rows="3" name="body" ng-model="body"
                  class="form-control js-auto-size comment-textarea"></textarea>

              <div>
                <button class="btn form-button" ng-disabled="addComment.$invalid" ng-click="addComment()">
                  Submit
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>


      <div class="row comment-wrapper">
        <div class="col-xs-12">
          <span class="comment-header">All {{data.comments.length}} Comments</span>

          <div class="comment-list">
            <div single-comment ng-repeat="comment in data.comments" id="{{comment.id}}">
              {{comment.body}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--

    <div class="col-md-4">
      <div class="row comment-wrapper">
        Hello yes this is sidebar
      </div>
    </div>

    -->

  </div>
</div>
