<div class="top-bar">
  <div class="container nowrap">
    <div class="col-xs-12 fadeout">
      <a ui-sref="main({category: '', reload: true})">All</a>
      <a ng-repeat="category in data.categories" ui-sref="main({category: category.slug, reload: true})">{{category.name}}</a>
    </div>
    <div class="top-right">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Info</a>
      <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>Source Code</a>
    </div>
  </div>
</div>

<header>
  <div class="container">

    <div class="visible-xs">

      <a class="navbar-brand" href="#">Logo</a>

      <div class="btn-toolbar" role="toolbar" aria-label="...">

        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            All Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="category in data.categories">
              <a href="#/{{category.slug}}">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            Featured <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </div>



        <div class="btn-group pull-right" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle user-icon" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <button class="btn btn-default btn-top btn-add"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Add a Link"
                  ng-click="addLink()">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>

        </div>

      </div>
    </div>

    <div class="hidden-xs">

      <a class="navbar-brand" ui-sref="main">Really Cool Logo</a>

      <div class="btn-toolbar" role="toolbar" aria-label="...">

        <div ng-show="state.current.name === 'main'">





        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-expanded="false">
            {{data.category.name || 'All Categories'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ui-sref="main({category: '', reload: true})">All Categories</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="category in data.categories">
              <a ui-sref="main({category: category.slug, reload: true})">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group sort" role="group" aria-label="...">
          <button class="btn btn-default btn-top btn-sort btn-selected" type="button">
            Featured
          </button>
        </div>
        <div class="btn-group sort" role="group" aria-label="...">
          <button class="btn btn-default btn-top btn-sort" type="button">
            Top
          </button>
        </div>
        <div class="btn-group sort" role="group" aria-label="...">
          <button class="btn btn-default btn-top btn-sort" type="button">
            Latest
          </button>
        </div>
          </div>

        <div ng-show="state.current.name === 'user'">

          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-top dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-expanded="false">
              {{data.profile.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group sort" role="group" aria-label="...">
            <button class="btn btn-default btn-top btn-sort btn-selected" type="button">
              Submitted
            </button>
          </div>
          <div class="btn-group sort" role="group" aria-label="...">
            <button class="btn btn-default btn-top btn-sort" type="button">
              Upvoted
            </button>
          </div>
          <div class="btn-group sort" role="group" aria-label="...">
            <button class="btn btn-default btn-top btn-sort" type="button">
              Comments
            </button>
          </div>
        </div>

        <div ng-hide="data.user" class="btn-group pull-right" role="group" aria-label="...">
          <button class="btn btn-default btn-top btn-active"
                  type="button"
                  aria-expanded="false"
                  ng-click="register()">
            Login / Register
          </button>
        </div>

        <div ng-show="data.user" class="btn-group pull-right" role="group" aria-label="...">
          <button class="btn btn-default btn-top hidden-sm"
                  type="button"
                  data-toggle="dropdown"
                  aria-expanded="false">
            {{data.user.name}}
            <span class="caret"></span>
          </button>
          <button class="btn btn-default btn-top dropdown-toggle visible-sm user-icon" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <button class="btn btn-default btn-top btn-add"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Add a Link"
                  ng-click="addLink()">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="user({username: data.user.name})">Profile</a></li>
            <li class="divider"></li>
            <li><a ui-sref="logout">Log Out</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</header>
