<div class="top-bar">
  <div class="container nowrap">
    <div class="col-xs-12 fadeout">
      <a ui-sref="main({category: '', reload: true})">All</a>
      <a ng-repeat="category in data.categories" ui-sref="main({category: category.slug, reload: true})">{{category.name}}</a>
    </div>
    <div class="top-right">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Info</a>
      <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>Source Code</a>
    </div>
  </div>
</div>

<header>
  <div class="container">

    <div class="visible-xs">

      <a class="navbar-brand" href="#">Logo</a>

      <div class="btn-toolbar" role="toolbar" aria-label="...">

        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            All Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="category in data.categories">
              <a href="#/{{category.slug}}">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            Featured <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </div>


        <div class="btn-group pull-right" role="group" aria-label="...">
          <button class="btn btn-default btn-top dropdown-toggle user-icon" type="button" data-toggle="dropdown"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <button class="btn btn-default btn-top btn-add"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Add a Link"
                  ng-click="addLink()">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>

        </div>

      </div>
    </div>

    <div class="hidden-xs">
      <a class="navbar-brand" ui-sref="main">Really Cool Logo</a>

      <div class="btn-toolbar" role="toolbar" aria-label="...">

        <ng-include ng-show="state.current.name === 'main'" src="'views/header_components/link_filter.html'"> </ng-include>
        <ng-include ng-show="state.current.name === 'user'" src="'views/header_components/user_filter.html'"> </ng-include>

        <ng-include ng-hide="data.user" src="'views/header_components/login_button.html'"> </ng-include>
        <ng-include ng-show="data.user" src="'views/header_components/user_area.html'"> </ng-include>

      </div>
    </div>
  </div>

</header>
