<div class="top-bar">
  <div class="container nowrap">
    <div class="col-xs-12 fadeout">
      <a ui-sref="main({category: '', reload: true})">All</a>
      <a ng-repeat="category in data.categories" ui-sref="main({category: category.slug, reload: true})">{{category.name}}</a>
    </div>
    <div class="top-right">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Info</a>
      <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>Source Code</a>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <ng-include src="'views/header_components/logo.html'"></ng-include>

    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <ng-include ng-hide="state.current.name === 'user'" src="'views/header_components/link_filter.html'"></ng-include>

      <ng-include ng-show="state.current.name === 'main'" src="'views/header_components/link_sorter.html'"></ng-include>
      <ng-include ng-show="state.current.name === 'user'" src="'views/header_components/user_filter.html'"></ng-include>

      <ng-include ng-hide="data.user" src="'views/header_components/login_button.html'"></ng-include>
      <ng-include ng-show="data.user" src="'views/header_components/user_area.html'"></ng-include>
    </div>

  </div>
</header>
