<div class="row linkbox">
  <div class="col-xs-1 rating">{{link.rating}}</div>
  <div class="col-xs-9">
    <div>
    <span class="title">
      {{link.title}}
    </span>
    <span class="category-label">
      <a ui-sref="main({category: link.categorySlug})">{{link.category}}</a>
    </span>
    </div>
    <span>
      submitted
      <span class="time" data-toggle="tooltip" data-placement="top" title="{{link.time * 1000 | date:'EEE, dd MMM \'at\' h:mma'}}">
        {{link.time * 1000 | timeago}}
      </span>
      by <a ui-sref="user({username: link.user})">{{link.user}}</a>
    </span>
    <span ng-show="data.user.admin"> | <a href="#" ng-click="deleteLink(link.id)">Delete</a></span>
  </div>
  <div class="col-xs-2 comment-count">{{link.comments}}</div>
</div>
