<div class="row linkbox" id="{{link.id}}">
  <div class="col-xs-2 col-md-1">
    <div class="row rating" ng-class="{'upvoted': link.upvoted}">
      <div class="glyphicon glyphicon-triangle-top vote"></div>
      <div class="rating-count">
        {{link.rating}}
      </div>

    </div>
  </div>

  <div ng-class="{'col-xs-8 col-md-10 border-sides': state.current.name === 'main', 'col-xs-10 col-md-11 border-left': state.current.name != 'main'}">
    <div class="link-data">
    <span class="title">
      <a href="{{link.url}}">
        {{link.title}}
      </a>
    </span>
    </div>

    <div class="link-metadata">
    <span>
      submitted
      <span class="time" data-toggle="tooltip" data-placement="left"
            title="{{link.time * 1000 | date:'EEE, dd MMM \'at\' h:mma'}}">
        {{link.time * 1000 | timeago}}
      </span>
      to
      <a ui-sref="main({category: link.categorySlug})">{{link.category}}</a>
      by
      <a ui-sref="user({username: link.user})">{{link.user}}</a>
    </span>
      <span ng-show="data.user.admin"> | <a href="#" ng-click="deleteLink(link.id)">Delete</a></span>
    </div>

    <div ng-show="state.current.name === 'comments' && link.body" ng-bind-html="link.body | newLineToBr" class="link-body">
    </div>

  </div>
  <div ng-show="state.current.name === 'main'" class="col-xs-2 col-md-1">
    <div class="row comment-count">
      <a ui-sref="comments({id: link.id})">


      <div class="glyphicon glyphicon-comment"></div>
      <div class="comment-count-text">
        {{link.comments}}
      </div>
      </a>
    </div>

  </div>
</div>
